body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction:column;
	display: inline;
	font-family: "Arial";
}

/*----------------------------------------------main divs--------------------------------------------------*/


#main-content{
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}


/*----------------------------------------------navbar--------------------------------------------------*/
.navbar {
	display: flex;
	flex-direction: row;
	background-color: lightblue;
	padding: 0 10px 0 10px; /* padding på sidene så teksten ikke er helt til kanten */
}

.navlinks {
	display: flex;
	margin-left: auto;
	justify-content: center;
}

.navlinks a {
	margin: auto 5px auto 5px;
}

.content {
	display: flex;
	overflow-y: scroll;
}

/*----------------------------------------------content divs--------------------------------------------------*/
.content1, .content2, .content3{
	display: flex;
	width: 100%;
}

.content1{
	height: 50vh;
}

.content2{
	flex-direction: column;
	background-color: #B3C7D6FF;
	padding: 20px;
	align-items: center;
}

.content3{
	height: 50vh;
}

/*----------------------------------------------Innovation events--------------------------------------------------*/
.about-event{
	background-color: #D9B48FFF;
	width: 80vw;
	padding: 10px;
}

.event-schedule{
    display: flex;
    flex-direction: column;
	margin: auto;
	padding: 10px;
    background-color: #D9B48FFF;
	font-size: 1.5em;
	width: 80vmax;
}

.join-event{
	background-color: #D9B48FFF;
	width: 80vw;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


table{
	border: 1px solid black;
	text-align: left;
}

th, td{
	padding: 10px 30px 10px 30px;
}

table a{
    cursor: pointer;
    text-decoration: none;
    color: teal;
}
table a:hover{
    text-decoration: underline;
}

form{
	padding: 10px;
	width: 132px;
}

input[type="text"]{
	display: block;		/*gjør den om til blokk*/
	border-radius: 5px;
	margin-bottom: 5px;
}

input[type="submit"]{
	border-radius: 5px;
	text-align: center;
	display: block;
	background-color: #d9d4a6;
	/*font-weight: bold;*/
}
input[type="submit"]:hover{
	background-color: #f3eba5;
}


