body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	display: inline;
	font-family: "Arial";
	line-height: 1.5;
}

/*----------------------------------------------main divs--------------------------------------------------*/

#main-content{
	display: flex;
	flex-direction: column;
	padding-top: 10vh; /* gjør at navbaren ikke kommer i veien for noe av innholdet */
	margin: 0;
	padding: 0;
}

/*----------------------------------------------navbar--------------------------------------------------*/
#navbar {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	width: 100%;
	height: 10vh;
	min-height: 50px;
	background-color: #c7f1f1;
	padding-left: 10px; /* padding på sidene så teksten ikke er helt til kanten */
}

#navlinks {
	display: flex;
	margin-right: 25px;
	margin-left: auto;
	justify-content: center;
}

#navlinks a {
	margin: auto 20px auto 20px;
	font-size: 1.5em;
	text-decoration: none;
	color: black;
}

#navlinks a:hover{
	text-decoration: underline;
}

.inova{
	display: flex;
	justify-content: center;
}
.inova h1{
	margin: auto 5px auto 15px;
	font-size: 2.5em;
}

@media only screen and (max-width: 866px) {
	#navbar {
		min-height: 78px; /* ellers går teksten ut av navbaren */
	}
}

/*----------------------------------------------content divs--------------------------------------------------*/
.content1, #content2, .content3, #content4{
	display: flex;
	width: 100%;
}

.content1{
	flex-direction: row;
	background-color: #b2d8d8;
	padding-top: 10vh;
}
@media(max-height: 590px){
	.content1{
		height: auto;
	}
}

#content2{
	flex-direction: column;
	background-color: teal;
	padding-top: 10vh;
}

.content3{
	height: 50vh;
}

#content4{
	flex-direction: column;
	background-color: #b2d8d8;
	padding-top: 8vh;
}

#content4 h1, #content5 h1 {
	font-size: 3.5em;
	text-align: center;
}

#content5 {
	flex-direction: column;
	background-color: teal;
	color: white;
	padding: 8vh 0;
}

/*----------------------------------------------Front page--------------------------------------------------*/

.content1 img {
	margin: auto 10vh auto auto;
	width: 25vw;
}

.textbox {
	width: 30vw;
	margin: 20vh auto 20vh 10vw;
}

.textbox h1 {
	font-size: 2.5em;
}

.textbox p {
	font-size: 1.5em;
}

/*----------------------------------------------Innovation events--------------------------------------------------*/
.white-font{
	color: white;
}
span{
	font-weight: bold;
}
.about-event{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 7vh;
}

.about-event1 p, .about-event2 p, .join-event p, .event-schedule p{
	font-size: 1.5em
}

.about-event1 h1, .join-event h1{
	font-size: 2.5em;
}
.about-event1 h2, .join-event h2{
	font-size: 2em;
}

.about-event1{
	width: 30vw;
}

.bilde1{
	height: 50vh;
}
.bilde2{
	height: 30vh;
}
.bilde3{
	height: 50vh;
	width: 50vh;
}

.event-schedule{
    display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding-bottom: 10vh;
	padding-top: 5vh;
}
@media (max-width: 950px){
	.event-schedule{
		flex-direction: column;
	}
}

.join-event{
	color: white;
	display: flex;
	flex-direction: column;
	margin-left: 10vw;
}

table{
	border: 1px solid white;
	color: white;
	border-radius: 5px;
	text-align: left;
	width: 40vw;
}

th, td{
	padding: 10px 30px 10px 30px;
}
td{
	font-size: 1.5em;
}
th{
	font-size: 2.5em;
}

/*----------------------------------------------Form--------------------------------------------------*/
form{
	width: 132px;
}

select{
	width: auto;
	font-size: 1.5em;
	color: white;
	background-color: teal;
	border: 1px solid white;
	border-radius: 3px;
	padding: 5px;
}
option{
	font-size: 1.5em;
}

input[type="submit"]{
	text-align: center;
	display: block;
	color: white;
	background-color: rgba(128, 128, 128, 0.548);
	padding: 7px;
	margin-top: 15px;
	font-size: 1.5em;
	border: 1px solid white;
	border-radius: 3px;
}
input[type="submit"]:hover{
	background-color: rgba(92, 91, 91, 0.548);
}

/*----------------------------------------------Staff info--------------------------------------------------*/
.staff-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.staff-container {
	display: flex;
	flex-direction: column;
}

.member-info {
	text-align: center;
	margin: 0 2vw;
}

@media only screen and (max-width: 1000px) {
	.staff-container{
		flex-direction: row;
		justify-content: center;
	}

	.staff-row {
		flex-direction: column;
	}

	.member-info img {
		width: 40vw;
		max-width: 300px;
	}
}

/*----------------------------------------------Contact info--------------------------------------------------*/

.contact {
	background-color: lightskyblue;
}
.contact h1 {
	font-size: 45px;
	text-align: center;
	margin: 0;
}
.contact p {
	font-size: 25px;
	text-align: center;
	margin: 0;
}
.container {
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.container .box {
	text-align: center;
}
.container .box .icon .fa {
	font-size: 80px;
	cursor: pointer;
}
.container .box .icon h3,
.container .box .icon h4 {
	position: relative;
	overflow: hidden;
	font-weight: 400;
	margin: 0;
	padding: 2px 5px;
	font-size: 24px;
}
.container .box .icon h4 {
	font-weight: 600;
	margin: 5px 0;
}
.fa-envelope {
	color: teal;
}
.fa-phone {
	color: green;
}
